/Hackathon/target/
!Hackathon/.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/Hackathon/nbproject/private/
/Hackathon/build/
/Hackathon/nbbuild/
/Hackathon/dist/
/Hackathon/nbdist/
/Hackathon/.nb-gradle/
/Hackathon/logs/